$color-background: #001c46;
$color-black: #111;
$color-white: #fff;
$color-text-keyboard-focus: #e37600;
$color-grey: #494d4e;

//navbar
$color-title-navbar: #c7c7c7;
$color-title-navbar-focus: #e37600;

$color-swiper-button-active: $color-title-navbar-focus;
$color-background-menu-item: $color-background;

// modal
$color-text-modal: #c7c7c7;
$color-background-modal: #e37600;

//keyboard
$color-grey-light: #616161;