$color-background: #242424;

//navbar
$color-title-navbar: #fff;
$color-title-navbar-hover: #e37600;
$color-title-navbar-active: $color-title-navbar-hover;
$color-title-navbar-focus: $color-title-navbar-hover;