$color-background: #001c46;

//navbar
$color-title-navbar: #c7c7c7;
$color-title-navbar-focus: #e37600;

$color-swiper-button-active: $color-title-navbar-focus;
$color-background-menu-item: $color-background;